<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="SNCA_Editor"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="%product.name">
         <property
               name="appName"
               value="SNCA-Editor">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupMessageRect"
               value="7,252,445,20">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
         <property
               name="aboutText"
               value="%about.text">
         </property>
         <property
               name="windowImages"
               value="images/v-16.png,images/v-32.png,images/v-48.png,images/v-64.png,images/v-128.png">
         </property>
         <property
               name="aboutImage"
               value="images/about_img.png">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>

</plugin>
