<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target includeMode="feature" name="hui-platfrom" sequenceNumber="41">
<locations>
<location  includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.equinox.sdk.feature.group" version="3.13.4.v20180322-2228"/>
<unit id="org.eclipse.platform.ide" version="4.7.3.M20180330-0640"/>
<unit id="org.eclipse.platform.sdk" version="4.7.3.M20180330-0640"/>
<unit id="org.eclipse.rcp.feature.group" version="4.7.3.v20180330-0640"/>
<unit id="org.eclipse.rcp.source.feature.group" version="4.7.3.v20180330-0640"/>
<unit id="org.eclipse.sdk.ide" version="4.7.3.M20180330-0640"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.7"/>
</location>
<location  includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="com.google.guava" version="21.0.0.v20170206-1425"/>
<unit id="com.google.guava" version="21.0.0.v20170206-1425"/>
<unit id="com.google.guava.source" version="21.0.0.v20170206-1425"/>
<unit id="com.google.guava.source" version="21.0.0.v20170206-1425"/>
<unit id="com.google.inject" version="3.0.0.v201605172100"/>
<unit id="com.google.inject.source" version="3.0.0.v201605172100"/>
<unit id="javax.xml" version="1.3.4.v201005080400"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20170818183741/repository"/>
</location>
<location  includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.diffmerge.sdk.feature.feature.group" version="0.8.0.201706120810"/>
<unit id="org.eclipse.emf.eef.sdk-feature.feature.group" version="1.5.1.201601141612"/>
<unit id="org.eclipse.emf.parsley.sdk.feature.group" version="1.2.3.v20180220-1246"/>
<unit id="org.eclipse.emf.parsley.sdk.source.feature.group" version="1.2.3.v20180220-1246"/>
<unit id="org.eclipse.emf.query.sdk.feature.group" version="1.11.0.201706061326"/>
<unit id="org.eclipse.emf.sdk.feature.group" version="2.13.0.v20170609-0928"/>
<unit id="org.eclipse.emf.transaction.sdk.feature.group" version="1.11.0.201706061339"/>
<unit id="org.eclipse.emf.validation.sdk.feature.group" version="1.11.0.201706061352"/>
<unit id="org.eclipse.xtext.sdk.feature.group" version="2.12.0.v20170519-1412"/>
<repository location="http://download.eclipse.org/releases/oxygen/"/>
</location>
<location  includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.ecp.sdk.feature.feature.group" version="1.16.0.20180305-1637"/>
<repository location="http://download.eclipse.org/releases/oxygen/"/>
</location>
<location  includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.compare.diagram.gmf.feature.group" version="3.3.3.201805161152"/>
<unit id="org.eclipse.emf.compare.diagram.gmf.source.feature.group" version="3.3.3.201805161152"/>
<unit id="org.eclipse.emf.compare.diagram.sirius.feature.group" version="3.3.3.201805161152"/>
<unit id="org.eclipse.emf.compare.diagram.sirius.source.feature.group" version="3.3.3.201805161152"/>
<unit id="org.eclipse.emf.compare.egit.feature.group" version="1.2.3.201805161152"/>
<unit id="org.eclipse.emf.compare.egit.source.feature.group" version="1.2.3.201805161152"/>
<unit id="org.eclipse.emf.compare.feature.group" version="3.3.3.201805161152"/>
<unit id="org.eclipse.emf.compare.ide.ui.feature.group" version="3.3.3.201805161152"/>
<unit id="org.eclipse.emf.compare.ide.ui.source.feature.group" version="3.3.3.201805161152"/>
<unit id="org.eclipse.emf.compare.rcp.ui.feature.group" version="3.3.3.201805161152"/>
<unit id="org.eclipse.emf.compare.rcp.ui.source.feature.group" version="3.3.3.201805161152"/>
<unit id="org.eclipse.emf.compare.source.feature.group" version="3.3.3.201805161152"/>
<unit id="org.eclipse.emf.compare.uml2.feature.group" version="3.3.3.201805161152"/>
<unit id="org.eclipse.emf.compare.uml2.source.feature.group" version="3.3.3.201805161152"/>
<repository location="http://download.eclipse.org/modeling/emf/compare/updates/releases/latest"/>
</location>
<location  includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.gef.zest.sdk.feature.group" version="5.0.2.201711130301"/>
<repository location="http://download.eclipse.org/releases/oxygen/"/>
</location>
</locations>
</target>
