<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

 <plugin>

  <!-- EEF extensions -->
   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://www.sernet.de/hitro"
            class="de.sernet.eclipse.hitro.providers.HitroEEFAdapterFactory"
            supportedTypes="org.eclipse.emf.eef.runtime.providers.PropertiesEditingProvider"/>
   </extension>
   <extension
         point="org.eclipse.emf.eef.runtime.PropertiesEditionPartProvider">
      <PropertiesEditionPartProvider
            providerClass="de.sernet.eclipse.hitro.providers.HitroPropertiesEditionPartProvider">
      </PropertiesEditionPartProvider>
   </extension>

  <!-- Tabbed properties views extension -->
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="de.sernet.eclipse.hitro.properties"
            labelProvider="org.eclipse.emf.eef.runtime.ui.utils.EEFLabelProvider">
         <propertyCategory
               category="default">
         </propertyCategory>
         <propertyCategory
               category="extended">
         </propertyCategory>
         <propertyCategory
               category="advanced">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="de.sernet.eclipse.hitro.properties">
         <propertyTab
               id="Base"
               label="Base"
               category="default">
         </propertyTab>
        <propertyTab id="advanced.tab" label="Advanced"
               category="advanced">
         </propertyTab>
        <propertyTab
              category="extended"
              id="language"
              label="Language">
        </propertyTab>

      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="de.sernet.eclipse.hitro.properties">
       
	<propertySection
       class="org.eclipse.emf.eef.runtime.ui.properties.sections.EEFAdvancedPropertySection"
       id="de.sernet.eclipse.hitro.section.Advanced"
       tab="advanced.tab">
    <input
          type="org.eclipse.emf.ecore.EObject">
    </input>
    <input
          type="org.eclipse.emf.ecore.EDataType">
    </input>
    <input
          type="java.lang.String">
    </input>
    <input
          type="java.lang.Object">
    </input>
            
          </propertySection>
            

            
            
         <propertySection
               class="de.sernet.eclipse.hitro.parts.forms.DefaultRulePropertiesEditionPartForm"
               filter="de.sernet.eclipse.hitro.providers.DefaultRulePropertiesEditionProvider$EditionFilter"
               id="de.sernet.eclipse.hitro.section.DefaultRule"
               tab="Base">
         </propertySection>
         <propertySection
               class="de.sernet.eclipse.hitro.parts.forms.DependsPropertiesEditionPartForm"
               filter="de.sernet.eclipse.hitro.providers.DependsPropertiesEditionProvider$EditionFilter"
               id="de.sernet.eclipse.hitro.section.Depends"
               tab="Base">
         </propertySection>
         <propertySection
               class="de.sernet.eclipse.hui.eef.properties.part.forms.CustomDocumentRootPropertiesEditionPartForm"
               filter="de.sernet.eclipse.hitro.providers.DocumentRootPropertiesEditionProvider$EditionFilter"
               id="de.sernet.eclipse.hitro.section.DocumentRoot"
               tab="Base">
         </propertySection>
         <propertySection
               class="de.sernet.eclipse.hitro.parts.forms.HuientitiesPropertiesEditionPartForm"
               filter="de.sernet.eclipse.hitro.providers.HuientitiesPropertiesEditionProvider$EditionFilter"
               id="de.sernet.eclipse.hitro.section.Huientities"
               tab="Base">
         </propertySection>
         <propertySection
               class="de.sernet.eclipse.hitro.parts.forms.HuientityPropertiesEditionPartForm"
               filter="de.sernet.eclipse.hitro.providers.HuientityPropertiesEditionProvider$EditionFilter"
               id="de.sernet.eclipse.hitro.section.Huientity"
               tab="Base">
         </propertySection>
         <propertySection
               class="de.sernet.eclipse.hui.eef.properties.part.forms.CustomHuipropertyPropertiesEditionPartForm"
               filter="de.sernet.eclipse.hitro.providers.HuipropertyPropertiesEditionProvider$EditionFilter"
               id="de.sernet.eclipse.hitro.section.Huiproperty"
               tab="Base">
         </propertySection>
         <propertySection
               class="de.sernet.eclipse.hitro.parts.forms.HuipropertygroupPropertiesEditionPartForm"
               filter="de.sernet.eclipse.hitro.providers.HuipropertygroupPropertiesEditionProvider$EditionFilter"
               id="de.sernet.eclipse.hitro.section.Huipropertygroup"
               tab="Base">
         </propertySection>
         <propertySection
               class="de.sernet.eclipse.hitro.parts.forms.HuirelationPropertiesEditionPartForm"
               filter="de.sernet.eclipse.hitro.providers.HuirelationPropertiesEditionProvider$EditionFilter"
               id="de.sernet.eclipse.hitro.section.Huirelation"
               tab="Base">
         </propertySection>
         <propertySection
               class="de.sernet.eclipse.hitro.parts.forms.OptionPropertiesEditionPartForm"
               filter="de.sernet.eclipse.hitro.providers.OptionPropertiesEditionProvider$EditionFilter"
               id="de.sernet.eclipse.hitro.section.Option"
               tab="Base">
         </propertySection>
         <propertySection
               class="de.sernet.eclipse.hitro.parts.forms.ParamPropertiesEditionPartForm"
               filter="de.sernet.eclipse.hitro.providers.ParamPropertiesEditionProvider$EditionFilter"
               id="de.sernet.eclipse.hitro.section.Param"
               tab="Base">
         </propertySection>
         <propertySection
               class="de.sernet.eclipse.hitro.parts.forms.ReferencePropertiesEditionPartForm"
               filter="de.sernet.eclipse.hitro.providers.ReferencePropertiesEditionProvider$EditionFilter"
               id="de.sernet.eclipse.hitro.section.Reference"
               tab="Base">
         </propertySection>
         <propertySection
               class="de.sernet.eclipse.hitro.parts.forms.ValidationRulePropertiesEditionPartForm"
               filter="de.sernet.eclipse.hitro.providers.ValidationRulePropertiesEditionProvider$EditionFilter"
               id="de.sernet.eclipse.hitro.section.ValidationRule"
               tab="Base">
         </propertySection>
         <propertySection
               class="de.sernet.eclipse.hui.eef.properties.LanguageSection"
               id="de.sernet.eclipse.hui.eef.propertySection1"
               tab="language">
            <input
                  type="de.sernet.eclipse.hitro.Huientity">
            </input>
            <input
                  type="de.sernet.eclipse.hitro.Huiproperty">
            </input>
            <input
                  type="org.eclipse.emf.ecore.EObject">
            </input>
         </propertySection>
      </propertySections>
   </extension>
 </plugin>
