<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.hitro"
            id="de.sernet.eclipse.hui.model.codegen.ui.popupMenus.contribution.IFile">
         <menu id="org.eclipse.acceleo.module.menu" label="Acceleo Model to Text" path="additionsAcceleo">
               <groupMarker name="acceleo"/> 
         </menu>
         <action
               class="de.sernet.eclipse.hui.model.codegen.ui.popupMenus.AcceleoGenerateCodegenAction"
               enablesFor="+"
               id="de.sernet.eclipse.hui.model.codegen.ui.popupMenus.acceleoGenerateCodegenAction"
               icon="icons/default.gif"
               label="Generate Codegen"
               menubarPath="org.eclipse.acceleo.module.menu/acceleo"/>
      </objectContribution>
   </extension>
</plugin>
